doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        title Login - SB Admin
        link(href="/stylesheets/css/styles.css" rel="stylesheet")
        script(src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous")
    
    body(class="bg-primary")
        div(id="layoutAuthentication")
            div(id="layoutAuthentication_content")
                main
                    div(class="container")
                        div(class="row justify-content-center")
                            div(class="col-lg-5")
                                div(class="card shadow-lg border-0 rounded-lg mt-5")
                                    | !{alert}
                                    div(class="card-header"): h3(class="text-center font-weight-light my-4")
                                        img(src="/images/img/logo.png" style="width:74px; height:74px;")
                                        img(src="/images/img/logo-name.png" style="width:250px; height:74px;" class="ms-3") 
                                        
                                    div(class="card-body")
                                        form(action="/auth/authenticate" method="post")
                                            div(class="form-floating mb-3")
                                                input(class="form-control" id="inputEmail" type="text" name="username" placeholder="name@example.com")
                                                label(for="inputEmail") Email address
                                            
                                            div(class="form-floating mb-3")
                                                input(class="form-control" id="inputPassword" type="password" name="password" placeholder="Password")
                                                label(for="inputPassword") Password
                                            
                                            div(class="form-check mb-3")
                                                //- input(class="form-check-input" id="inputRememberPassword" type="checkbox" value="")
                                                //- label(class="form-check-label" for="inputRememberPassword") Remember Password
                                            
                                            div(class="d-flex align-items-center justify-content-between mt-4 mb-0")
                                                a(class="small" href="password.html") Forgot Password?
                                                button(class="btn btn-primary" type="submit") Login
                                           
                                    div(class="card-footer text-center py-3")
                                        div(class="small"): a(href="register.html") Need an account? Sign up!
                                    
            div(id="layoutAuthentication_footer")
                footer(class="py-4 bg-light mt-auto")
                    div(class="container-fluid px-4")
                        div(class="d-flex align-items-center justify-content-between small")
                            div(class="text-muted") Copyright & Your Website 2022
                            div
                                a(href="#") Privacy Policy
                                
                                a(href="#") Terms & Conditions
                            
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        script(src="/javascripts/js/scripts.js")
    