extends ../layout

block content
    h1(class="mt-4") #{title}
    div(class="container-fluid border p-2" style="margin-top : 35px;")

        div(class="row gx-3 gy-2 align-items-center")
            div(class="mb-3 col-sm-3")
                div(class="row")
                    div(class="col-sm-3")
                        label(for="groupName" class="form-label") From Date 
                    div(class="col-sm-6")
                        input(type="date" class="form-control" id="fromdate" name="fromdate" placeholder="From Date" )
            div(class="mb-3 col-sm-3")
                div(class="row")
                    div(class="col-sm-3")
                        label(for="groupName" class="form-label") To Date 
                    div(class="col-sm-6")    
                        input(type="date" class="form-control" id="todate" name="todate" placeholder="To Date" )
            //- div(class="mb-3 col-sm-3")
            //-     div(class="row")
            //-         div(class="col-sm-3")
            //-             label(for="groupName" class="form-label") Status 
            //-         div(class="col-sm-6")
            //-             select(class="form-control" id="status" name="status")
            //-                 option(value="") --SELECT--
            //-                 option(value="ANSWER") ANSWER 
            //-                 option(value="NOANSWER") NO ANSWER
            //-                 option(value="BUSY") BUSY
            div(class="mb-3 col-sm-3")
                button(class="btn btn-primary" id="searchReceive" onclick="report(this)") SEARCH
                button(class="btn btn-primary ms-3" id="exportCsv" onclick="exportCsv(this)") Export CSV
                
        table(class="table table-sm table-bordered display compact table-striped" id="tableReportAbandon")
            thead 
                tr
                    th(scope="col" class="text-center") No
                    th(scope="col" class="text-center") Date 
                    th(scope="col" class="text-center") Time
                    th(scope="col" class="text-center") Source 
                    //- th(scope="col" class="text-center") Destination
                    th(scope="col" class="text-center") Duration (second)
            tbody 
               
