extends ../layout

block content
    h1(class="mt-4") #{title}
    div(class="container-fluid border p-2" style="margin-top : 35px;")
        
        div(id="chartContainer" style="height: 650px; width: auto; margin: 0px auto;")
               
