extends ../layout

block content
    h1(class="mt-4") #{title}
    div(class="container-fluid border p-2" style="margin-top : 35px;")
        a(class="btn btn-primary float-end mb-2" href="black-list/add") Add Black List
        table(class="table table-sm table-bordered display compact table-striped" id="tableBlackList")
            thead 
                tr
                    th(scope="col" class="text-center") No
                    th(scope="col") Phone Number
                    th(scope="col") Notes
                    th(scope="col") Created By 
                    th(scope="col") Updated By
                    th(scope="col" class="text-center") Action
            tbody 
               